extend layout

block content
  #dashboard
    if user
      #profile
        img(src='#{user._json.avatar_image.url}')

      h1 My Posts

      ol.messages
        for message in messages
          li
            p!= message
