extend layout

block content
  if session
    #write(name='#write')
      form(method='post')
        textarea(name='message', placeholder='Write your message')
        input(type='hidden', name='reply_to', value='', id='reply_to')
        input(type='hidden', name='_csrf', value='#{csrf}')
        span#count 256
        button(type='submit') Post

    section
      ol.tabs
        li.my-feed.selected(data-url="/my/feed") My Feed
        li.user-mentions(data-url="/user/mentions/#{session.id}") Mentions
        li.global-feed(data-url="/global/feed") Global Feed

      ol.messages(data-userid='#{session.id}')
  else
    section.public
      ol.messages
        li
          h1 You need to sign in with your App.net account to see this glorious noodle.
          a(href='/auth/appdotnet', id='login') Log in
