extend layout

block content
  #dashboard
    .dashboard-content
      if user
        #profile
          img(src='#{user._json.avatar_image.url}')

        section
          ol.tabs
            li.my-posts.selected My Posts
            li.my-feed My Feed
            li.global-feed Global Feed

          ol.messages
