extend layout

block content
  if session
    mixin messageForm('', 'Write your message', '', 'Post')

    section
      ol.tabs
        li.my-feed.selected(data-url='/my/feed') My Feed
        li.user-mentions(data-url='/user/mentions/#{session.id}') Mentions
        li.user-interactions(data-url='/user/interactions/#{session.id}') Interactions
        li.global-feed(data-url='/global/feed') Global

      ol#unread-messages
        h2
        ol
      ol.messages(data-userid='#{session.id}')
  else
    section.public
      ol.messages
        li
          h1 You need to sign in with your App.net account to see this glorious noodle.
          a(href='/auth/appdotnet', id='login') Log in
