/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: Arial;
    position: relative;
    overflow-y: scroll;
}

header {
    background: #888;
    border-bottom: 1px solid #eee;
    color: #eee;
    font-family: 'Oswald';
    opacity: 0.8;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header a {
    display: block;
    text-decoration: none;
}

header a.home {
    background-color: none;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    float: left;
    font-size: 0;
    height: 25px;
    margin-left: 10px;
    text-indent: -9999px;
    width: 25px;
}

header a.home:hover {
    opacity: 0.5;
}

header a#logout {
    background-color: #333;
    border-radius: 5px;
    color: #888;
    float: right;
    font-size: 15px;
    margin: 1px 10px 0;
    padding: 5px 8px;
}

header a#logout:hover {
    background-color: #888;
    color: #eee;
}

#dashboard {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    position: relative;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: #ccc 0 0 3px;
    display: none;
    left: 20px;
    padding: 50px 20px 20px;
    position: absolute;
    top: 0;
    width: 521px;
    z-index: 2;
}

#overlay img.loading {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    width: 66px;
}

#overlay > ol > li {
    clear: both;
    float: left;
    margin-bottom: 5px;
    padding: 10px 0;
    width: 100%;
}

#overlay .users li {
    cursor: pointer;
}

#overlay li.close, #paginated {
    background-color: #74b908;
    color: #fff;
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 25px;
    text-align: center;
}

ol.messages #paginated {
    background-color: #aaa;
    opacity: 0.7;
}

ol.messages #paginated.loading img {
    padding: 0;
}

#overlay .users li:hover, #overlay li.close:hover, ol.messages .paginated:hover {
    background-color: #111;
}

#overlay .users li:hover span {
    color: #fff;
}

#overlay li .who img, #overlay .users li img {
    display: block;
    float: left;
    margin-right: 10px;
    width: 50px;
}

#overlay .users li a {
    display: block;
    text-decoration: none;
    width: 100%;
}

#overlay .users li span {
    color: #111;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
}

#overlay .users li em {
    color: #aaa;
    font-variant: italic;
}

#overlay .users li:hover em {
    color: #eee;
    padding-left: 10px;
}

#overlay .message-summary li .details, #overlay .message-summary li p {
    float: left;
    margin-left: 20px;
    text-align: left;
    width: 450px;
}

#overlay .message-summary li p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 5px;
}

#overlay .message-summary li p span {
    color: #999;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
}

#overlay .message-summary li time {
    padding: 3px 5px;
}

#overlay li p iframe, #overlay li p video, #overlay li p audio,
#overlay li p object {
    height: 225px;
    margin: 10px 0;
    width: 400px;
}

#overlay li p img {
    margin: 10px 0;
    max-width: 400px;
}

#overlay .info {
    clear: both;
    float: left;
    width: 100%;
}

#overlay .info li {
    background-color: #eee;
    border-radius: 5px;
    color: #888;
    float: left;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 30px;
    margin: 15px 2px;
    padding: 10px 10px 6px 10px;
    text-transform: uppercase;
    width: 28.5%;
}

#overlay li .info li span {
    color: #111;
}

.dashboard-content {
    background-color: #f8f8f8;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    position: relative;
    width: 600px;
}

.dashboard-content.fixed {
    position: fixed;
}

#profile img {
    float: left;
    margin-left: 20px;
    max-height: 180px;
    width: 180px;
}

#profile .user-info {
    float: left;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 340px;
}

#profile .user-info h2 {
    color: #222;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: #fff 0 1px 0, #eee 0 -1px 0;
    text-transform: uppercase;
    width: 360px;
}

#profile .followers, #profile .following {
    cursor: pointer;
}

#profile .followers:hover, #profile .following:hover {
    color: #20c2c0;
}

#profile .user-info h3 {
    color: #222;
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 50%;
}

#profile .user-info > span {
    color: #aaa;
    font-size: 13px;
}

#profile .user-info p {
    clear: both;
    color: #888;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

#profile .user-info p a, .username {
    color: #20c2c0;
    text-decoration: none;
}

#profile .user-info ol.actions li {
    background-color: #ccc;
    color: #222;
    float: left;
    width: 100px;
}

#write, #profile {
    margin-top: 32px;
}

#write.profile {
    margin-top: 0;
}

#write, section {
    clear: both;
    float: left;
    padding: 20px;
}

section {
    padding-top: 0;
}

section.public li h1 {
    color: #888;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

#write {
    padding-bottom: 5px;
}

#write textarea {
    border: 0;
    border-radius: 5px;
    color: #888;
    font-family: Arial;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px;
    width: 540px;
    resize: none;
}

#write textarea.on {
    color: #111;
}

#count {
    color: #dedede;
    font-family: 'Oswald';
    font-size: 28px;
}

#count.on {
    color: #111;
}

button[type="submit"] {
    margin-bottom: 30px;
}

button[type="submit"], section.public li a {
    background-color: #74b908;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 18px;
    padding: 3px 10px;
    text-transform: uppercase;
}

button[type="submit"]:hover, section.public li a:hover, #overlay .users li.close:hover {
    background-color: #111;
    color: #eee;
}

section.public li a {
    display: block;
    float: none;
    font-size: 20px;
    margin: 10px auto;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

ol.tabs li, .action-buttons li {
    background-color: #ccc;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
    float: left;
    margin: 2px 2px 5px;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

ol.tabs li:first-child {
    margin-left: 0;
}

ol.tabs li:hover, ol.tabs li.selected, .action-buttons li:hover {
    background-color: #111;
    color: #eee;
}

ol.messages li.loading img {
    display: block;
    height: 66px;
    margin: 0 auto;
    padding: 40px 0;
    width: 66px;
}

ol.messages > li {
    background-color: #fff;
    box-shadow: #f1f1f1 3px 1px 2px;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 10px 5px;
    width: 550px;
}

ol.messages > li:first-child {
    border-top: none;
    padding-top: 15px;
}

ol.messages > li .meta {
    clear: both;
    color: #ccc;
    float: left;
}

.meta {
    margin: 5px 0;
    position: relative;
}

.meta .who {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
}

.meta .who img {
    float: left;
    margin: 0 5px 0 10px;
    width: 50px;
}

.meta .actions {
    display: block;
    float: left;
    width: 470px;
}

.meta .actions > li {
    box-shadow: none;
    border: 0;
    float: left;
    margin: 7px 8px 0 0;
    padding: 0;
}

.username {
    clear: both;
    color: #111;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    white-space: nowrap;
}

time {
    background-color: #d0d0d0;
    border-radius: 100px;
    color: #fff;
    float: right;
    font-size: 11px;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}

.messages time {
    cursor: pointer;
}

.messages time:hover {
    background-color: #111;
    color: #eee;
}

.details {
    float: left;
    margin-left: 20px;
    width: 470px;
}

.actions > li {
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 24px;
    opacity: 0.3;
    position: relative;
    width: 24px;
}

.actions > li span {
    background-color: #111;
    border-radius: 5px;
    bottom: -30px;
    color: #eee;
    display: none;
    font-family: 'Oswald';
    font-size: 16px;
    padding: 4px 7px;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
}

.actions > li:hover {
    opacity: 1;
}

.actions .thread {
    background-image: url('/images/thread.png');
}

.actions .star {
    background-image: url('/images/star.png');
}

.actions .reply {
    background-image: url('/images/reply.png');
}

.actions .repost {
    background-image: url('/images/repost.png');
}

.actions .delete {
    background-image: url('/images/delete.png');
}

.actions .on {
    opacity: 1.0;
}

ol.messages > li p {
    clear: both;
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    padding: 5px 10px;
    width: 520px;
}

ol.messages > li p a, #overlay .message-summary li p a {
    color: #20c2c0;
    text-decoration: none;
}

ol.messages > li p .image-wrapper {
    clear: both;
    float: left;
    width: 100%;
}

ol.messages > li p img {
    max-width: 535px;
}

ol.messages > li,
ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    clear: both;
    display: block;
    float: left;
}

ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    margin: 5px 0;
}

ol.messages .paginated {
    text-align: center;
}

@media only screen and (max-width: 599px) {
    #dashboard {
        width: 320px;
    }

    #overlay {
        width: 242px;
    }

    #overlay .message-summary li .details {
        margin-left: 10px;
        width: 130px;
    }

    #overlay .meta .who > img {
        margin-left: 0;
    }

    #overlay .message-summary li p {
        line-height: 16px;
        margin: 5px 0;
        width: 240px;
    }

    section.public li h1 {
        font-size: 25px;
        line-height: 30px;
    }

    #overlay .users li span {
        width: 150px;
    }

    #overlay li p iframe, #overlay li p video, #overlay li p audio,
    #overlay li p object {
        height: 135px;
        width: 240px;
    }

    #overlay li p img {
        max-width: 240px;
    }

    #profile .user-info {
        width: 290px;
    }

    #overlay .info {
        margin: 5px 0;
    }

    #overlay .info li {
        clear: both;
        margin: 2px 0;
        padding-top: 5px;
        width: 91%;
    }

    #overlay .info li, #overlay .info li span {
        font-size: 18px;
    }

    #profile .user-info h2 {
        width: 280px;
    }

    ol.tabs li {
        font-size: 16px;
        line-height: 16px;
        margin: 8px 2px 5px;
        padding: 4px 10px;
    }

    .meta .details, .meta .actions {
        width: 190px;
    }

    #write textarea {
        width: 260px;
    }

    .dashboard-content {
        width: 320px;
    }

    ol.messages li p iframe, ol.messages li p video,
    ol.messages li p audio, ol.messages li p object {
        height: 140px;
        width: 250px;
    }

    ol.messages > li {
        width: 270px;
    }

    ol.messages > li p {
        padding-top: 5px;
        width: 240px;
    }

    ol.messages > li p img {
        max-width: 250px;
    }
}
