/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f3f3f3;
    font-family: Arial;
}

header {
    background: #aaa;
    border-bottom: 1px solid #eee;
    color: #eee;
    font-family: 'LeagueGothicRegular';
    opacity: 0.9;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header a {
    background-color: #ccc;
    color: #fff;
    display: block;
    text-decoration: none;
}

header a.home {
    border-radius: 100px;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 3px 9px;
    text-transform: uppercase;
}

header a#logout {
    border-radius: 5px;
    float: right;
    font-size: 18px;
    margin: 1px 10px 0;
    padding: 3px 8px;
}

header a:hover {
    background-color: #888;
    color: #bbb;
}

#dashboard {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    position: relative;
}

.dashboard-content {
    background-color: #f8f8f8;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: #ddd 0 0 4px;
    float: left;
    position: relative;
    width: 100%;
}

#write {
    margin-top: 30px;
}

#write, section {
    clear: both;
    float: left;
    padding: 20px;
}

section {
    padding-top: 0;
}

section.public li h1 {
    color: #22c7e0;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
    padding: 20px;
}

#write {
    padding-bottom: 0;
}

#write textarea {
    border: 0;
    border-radius: 5px;
    color: #888;
    font-family: Arial;
    padding: 10px;
    width: 540px;
    resize: none;
}

button[type="submit"], section.public li a {
    background-color: #a3d134;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'LeagueGothicRegular';
    font-size: 20px;
    margin-top: 5px;
    padding: 1px 6px;
    text-transform: uppercase;
}

button[type="submit"]:hover, section.public li a:hover {
    background-color: #7b9e28;
    color: #aad753;
}

section.public li a {
    display: block;
    float: none;
    font-size: 20px;
    margin: 10px auto;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

ol.tabs li {
    background-color: #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: #f1f1f1 2px 1px 2px;
    color: #aaa;
    cursor: pointer;
    float: left;
    margin: 5px 5px 0 0;
    font-family: 'LeagueGothicRegular';
    font-size: 25px;
    padding: 5px 20px;
    text-transform: uppercase;
}

ol.tabs li:hover {
    background-color: #e2e2e2;
    color: #a7b7b9;
}

ol.tabs li.selected {
    background-color: #fff;
    color: #22c7e0;
}


ol.messages li.loading img {
    display: block;
    height: 66px;
    margin: 0 auto;
    padding: 40px 0;
    width: 66px;
}

ol.messages > li {
    background-color: #fff;
    box-shadow: #f1f1f1 3px 1px 2px;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 10px 5px;
    width: 550px;
}

ol.messages > li:first-child {
    border-top: none;
    padding-top: 15px;
}

ol.messages > li .meta {
    clear: both;
    color: #ccc;
    float: left;
    padding-left: 10px;
}

.meta {
    margin-bottom: 10px;
}

.meta .who {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
}

.meta .who img {
    float: left;
    margin: 0 5px;
    width: 50px;
}

.meta .actions {
    display: block;
    float: left;
    width: 400px;
}

.meta .actions > li {
    box-shadow: none;
    border: 0;
    float: left;
    margin: 14px 12px 0 0;
    padding: 0;
}

.meta time {
    clear: both;
    float: left;
}

.details {
    float: left;
    margin-left: 20px;
    width: 400px;
}

.actions > li {
    background-repeat: no-repeat;
    float: left;
    height: 21px;
    opacity: 0.3;
    position: relative;
    width: 24px;
}

.actions > li span {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    bottom: -30px;
    color: #111;
    display: none;
    padding: 3px 6px;
    position: absolute;
    z-index: 2;
}

.actions > li:hover {
    opacity: 1;
}

.actions > li:hover span {
    display: block;
}

.actions .like {
    background-image: url('/images/like.png');
}

.actions .reply {
    background-image: url('/images/reply.png');
}

.actions .repost {
    background-image: url('/images/repost.png');
}

ol.messages > li p {
    clear: both;
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
}

ol.messages > li p a {
    color: #20c2c0;
    text-decoration: none;
}

ol.messages > li p .image-wrapper {
    clear: both;
    float: left;
    width: 100%;
}

ol.messages > li p img {
    max-width: 535px;
}

ol.messages > li,
ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    clear: both;
    display: block;
    float: left;
}

ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    margin: 5px 0;
}

@media only screen and (max-width: 599px) {
    #dashboard {
        width: 320px;
    }

    section.public li h1 {
        font-size: 25px;
        line-height: 30px;
    }

    ol.tabs li {
        font-size: 22px;
        margin: 5px 2px 0;
        padding: 7px 9px;
    }

    .meta .details, .meta .actions {
        width: 170px;
    }

    #write textarea {
        width: 260px;
    }

    ol.messages li p iframe, ol.messages li p video,
    ol.messages li p audio, ol.messages li p object {
        height: 140px;
        width: 250px;
    }

    ol.messages > li {
        width: 270px;
    }

    ol.messages > li p {
        padding-top: 5px;
    }

    ol.messages > li p img {
        max-width: 250px;
    }
}
