/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    background-image: url('/images/background.png');
    font-family: Arial;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

body.fixed {
    overflow: hidden;
}

header {
    background: #888;
    border-bottom: 1px solid #eee;
    color: #eee;
    font-family: 'Oswald';
    opacity: 0.8;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header a {
    display: block;
    text-decoration: none;
}

header a.home {
    background-color: none;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    float: left;
    font-size: 0;
    height: 25px;
    margin-left: 10px;
    text-indent: -9999px;
    width: 25px;
}

header a.home:hover {
    opacity: 0.5;
}

header a#logout {
    background-image: url('/images/logout.png');
    float: right;
    font-size: 1px;
    height: 25px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 25px;
}

header a#logout:hover {
    opacity: 0.4;
}

#dashboard {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    position: relative;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.96);
    bottom: 0;
    box-shadow: #ccc 0 0 3px;
    display: none;
    left: 50%;
    margin-left: -305px;
    overflow-y: scroll;
    padding: 50px 20px 20px;
    position: fixed;
    top: 0;
    width: 570px;
    z-index: 2;
}

#overlay .loading {
    background-image: url('/images/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    box-shadow: none;
    display: block;
    height: 33px;
    margin: 0 auto;
    opacity: 0.5;
    width: 100%;
}

#overlay .content-wrapper {
    position: static;
}

#overlay > ol > li, #thread-detail > ol > li {
    clear: both;
    float: left;
    margin-bottom: 5px;
    padding: 10px 0;
    width: 100%;
}

#overlay .users li {
    cursor: pointer;
    margin-bottom: 2px;
    padding: 5px 0;
}

#overlay li.close, #paginated {
    background-color: #74b908;
    color: #fff;
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 25px;
    text-align: center;
}

ol.messages #paginated {
    background-color: #aaa;
    opacity: 0.7;
    text-indent: none;
}

ol.messages #paginated.loading {
    background-image: url('/images/ajax-loader-paginated.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 33px;
    padding: 10px 0;
    text-indent: -9999px;
    width: 100%;
}

.message-summary li p {
    overflow: hidden;
}

.message-summary li p .object-wrapper, .message-summary li p .image-wrapper {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

.message-summary li p .object-wrapper:first-child, .message-summary li p .image-wrapper:first-child {
    margin: 5px 0;
}

#overlay .users li:hover, #overlay li.close:hover, ol.messages .paginated:hover {
    background-color: #111;
}

#overlay .users li:hover span {
    color: #fff;
}

#overlay li .who img, #overlay .users li img {
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

#overlay .users li a {
    display: block;
    text-decoration: none;
    width: 100%;
}

#overlay .users li span {
    color: #111;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
}

#overlay .users li em {
    color: #aaa;
    font-variant: italic;
}

#overlay .users li:hover em {
    color: #eee;
    padding-left: 10px;
}

#overlay #thread-detail .message-summary li {
    border-top: 1px dotted #eee;
}

#overlay .message-summary li .details, #overlay .message-summary li p {
    float: left;
    margin-left: 20px;
    text-align: left;
    width: 400px;
}

#overlay .message-summary li p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 5px;
}

#overlay .message-summary li > p > span {
    color: #999;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
}

#overlay .message-summary li time {
    padding: 3px 5px;
}

#overlay li p iframe, #overlay li p video, #overlay li p audio, #overlay li p object {
    height: 225px;
    margin: 2px 0;
    width: 400px;
}

#overlay li p img {
    margin: 2px 0;
    max-width: 400px;
}

#overlay li:first-child p iframe, #overlay li:first-child p video,
#overlay li:first-child p audio, #overlay li:first-child p object, #overlay li:first-child p img {
    margin: 10px 0 0;
}

#overlay .info {
    clear: both;
    float: left;
    width: 100%;
}

#overlay .info li {
    background-color: #eee;
    border-radius: 5px;
    color: #888;
    float: left;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 20px;
    margin: 15px 2px;
    padding: 5px 10px 4px 15px;
    text-transform: uppercase;
    width: 27.5%;
}

#overlay li .info li span {
    color: #111;
}

#avatar-pings img {
    height: 30px;
    margin: 2px 2px 0;
    width: 30px;
}

#avatar-pings li {
    float: left;
    width: 34px;
}

#thread-detail, #avatar-pings {
    display: block;
    float: left;
    width: 100%;
}

.dashboard-content {
    background-color: #f9f9f9;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    position: relative;
    width: 600px;
}

.dashboard-content.error h1 {
    font-family: 'Oswald';
    font-size: 40px;
    margin-top: 30px;
    padding: 30px 0 60px;
    text-align: center;
    text-transform: uppercase;
}

#profile {
    background-color: #111;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    width: 100%;
}

#profile img {
    float: left;
    margin-left: 20px;
    max-height: 180px;
    width: 180px;
}

#profile .user-info {
    background-color: rgba(0, 0, 0, 0.66);
    float: left;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: #111 1px 1px 1px;
    width: 340px;
}

#profile .user-info h2 {
    color: #aaa;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 360px;
}

#profile .followers, #profile .following {
    cursor: pointer;
}

#profile .followers:hover, #profile .following:hover {
    color: #20c2c0;
}

#profile .user-info h3 {
    color: #ccc;
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 50%;
}

#profile .user-info h3.small {
    color: #999;
    font-size: 15px;
    margin-bottom: 0;
    width: 100%;
}

#profile .user-info > span {
    color: #aaa;
    font-size: 13px;
}

#profile .user-info p {
    clear: both;
    color: #aaa;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

#profile .user-info p a, .username, .dashboard-content.error a {
    color: #20c2c0;
    text-decoration: none;
}

.dashboard-content.error a {
    display: block;
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
}

#profile .user-info ol.actions li {
    background-color: #ccc;
    color: #222;
    float: left;
    width: 100px;
}

#write, #profile {
    margin-top: 32px;
}

#write.profile {
    margin-top: 0;
}

#write, section {
    clear: both;
    float: left;
    padding: 20px;
}

section {
    padding-top: 0;
}

section.public li h1 {
    color: #888;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

#write {
    padding-bottom: 5px;
}

#write textarea {
    border: 0;
    border-radius: 5px;
    color: #888;
    font-family: Arial;
    font-size: 15px;
    height: 65px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 10px;
    width: 540px;
    resize: none;
}

#write textarea.on {
    color: #111;
}

#count {
    color: #dedede;
    font-family: 'Oswald';
    font-size: 28px;
}

#count.on {
    color: #111;
}

button[type="submit"] {
    margin-bottom: 30px;
}

button[type="submit"], section.public li a {
    background-color: #74b908;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 18px;
    padding: 4px 11px;
    text-transform: uppercase;
}

button[type="submit"]:hover, section.public li a:hover, #overlay .users li.close:hover {
    background-color: #111;
    color: #eee;
}

section.public li a {
    display: block;
    float: none;
    font-size: 20px;
    margin: 10px auto;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

ol.tabs li {
    background-color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #aaa;
    padding: 6px 12px 5px;
}

ol.tabs li, .action-buttons li {
    cursor: pointer;
    float: left;
    margin: 2px 2px 0;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.action-buttons li {
    background-color: #7edddc;
    border-radius: 5px;
    color: #348988;
    padding: 5px 12px;
    text-shadow: none;
}

ol.tabs li:first-child {
    margin-left: 0;
}

ol.tabs li:hover, ol.tabs li.selected, .action-buttons li:hover {
    background-color: #111;
    color: #eee;
}

ol.messages {
    display: block;
    float: left;
    width: 100%;
}

ol.messages > li.loading {
    background-image: url('/images/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 33px;
}

ol.messages > li {
    background-color: #fff;
    border-bottom: 1px dotted #eee;
    box-shadow: #f1f1f1 3px 1px 2px;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    padding: 10px 5px;
    width: 550px;
}

ol.messages > li:first-child {
    border-top: none;
    padding-top: 15px;
}

ol.messages > li .meta {
    clear: both;
    color: #ccc;
    float: left;
}

.meta {
    margin: 5px 0;
    position: relative;
}

.meta .who {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
}

.meta .who img {
    float: left;
    margin: 0 5px 0 10px;
    width: 50px;
}

.meta .actions {
    display: block;
    float: left;
    width: 470px;
}

.meta .actions > li {
    box-shadow: none;
    border: 0;
    float: left;
    margin: 7px 8px 0 0;
    padding: 0;
}

.username {
    clear: both;
    color: #111;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    white-space: nowrap;
}

time {
    background-color: #d0d0d0;
    border-radius: 100px;
    color: #fff;
    float: right;
    font-size: 11px;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}

time {
    cursor: pointer;
}

time:hover {
    background-color: #111;
    color: #eee;
}

.details {
    float: left;
    margin-left: 20px;
    width: 470px;
}

.actions > li {
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 24px;
    opacity: 0.3;
    position: relative;
    width: 24px;
}

.actions > li span {
    background-color: #111;
    border-radius: 5px;
    bottom: -30px;
    color: #eee;
    display: none;
    font-family: 'Oswald';
    font-size: 16px;
    padding: 4px 7px;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
}

.actions > li:hover {
    opacity: 1;
}

.actions .thread {
    background-image: url('/images/thread.png');
}

.actions .star {
    background-image: url('/images/star.png');
}

.actions .reply {
    background-image: url('/images/reply.png');
}

.actions .repost {
    background-image: url('/images/repost.png');
}

.actions .delete {
    background-image: url('/images/delete.png');
}

.actions .on {
    opacity: 1.0;
}

ol.messages > li p {
    clear: both;
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    padding: 5px 10px;
    width: 520px;
}

ol.messages > li p a, #overlay .message-summary li p a {
    color: #20c2c0;
    text-decoration: none;
    white-space: nowrap;
}

ol.messages > li p .image-wrapper, ol.messages > li p .object-wrapper {
    display: inline-block;
    margin: 0 0 5px;
    width: 100%;
}

ol.messages > li p .image-wrapper:first-child, ol.messages > li p .object-wrapper:first-child {
    margin: 5px 0;
}

ol.messages > li p img {
    max-width: 535px;
}

ol.messages > li,
ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    clear: both;
    display: block;
    float: left;
}

ol.messages li p iframe, ol.messages li p img, ol.messages li p video,
ol.messages li p audio, ol.messages li p object {
    margin: 5px 0;
}

ol.messages .paginated {
    text-align: center;
}

#hush {
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 24;
    opacity: 0.8;
    display: none;
}

img.hush {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 25;
    margin-left: 0px;
    margin-top: 0px;
    border: 6px solid white;
}

#flash-message {
    background-color: #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    color: #fff;
    font-family: 'Oswald';
    font-size: 25px;
    left: 50%;
    margin-left: -115px;
    margin-top: 32px;
    opacity: 0.8;
    padding: 20px 10px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    z-index:3;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    body {
        background-image: url('/images/background2x.png');
        background-size: auto 8px;
    }

    header a.home {
        background-image: url('/images/logo2x.png');
        background-size: auto 25px;
    }

    ol.messages li.loading {
        background-image: url('/images/ajax-loader2x.gif');
        background-size: auto 33px;
    }

    ol.messages #paginated.loading {
        background-image: url('/images/ajax-loader-paginated2x.gif');
        background-size: auto 33px;
    }

    .actions .thread {
        background-image: url('/images/thread2x.png');
        background-size: auto 25px;
    }

    .actions .star {
        background-image: url('/images/star2x.png');
        background-size: auto 25px;
    }

    .actions .reply {
        background-image: url('/images/reply2x.png');
        background-size: auto 25px;
    }

    .actions .repost {
        background-image: url('/images/repost2x.png');
        background-size: auto 25px;
    }

    .actions .delete {
        background-image: url('/images/delete2x.png');
        background-size: auto 25px;
    }

    header a#logout {
        background-image: url('/images/logout2x.png');
        background-size: auto 25px;
    }
}

@media only screen and (max-width: 599px) {
    #dashboard {
        width: 320px;
    }

    #overlay {
        margin-left: -161px;
        width: 282px;
    }

    #overlay .message-summary li .details {
        margin-left: 10px;
        width: 130px;
    }

    #overlay .meta .who > img {
        margin-left: 0;
    }

    #overlay .message-summary li p {
        line-height: 16px;
        margin: 5px 0;
        width: 240px;
    }

    section.public li h1 {
        font-size: 25px;
        line-height: 30px;
    }

    #overlay .users li span {
        width: 150px;
    }

    #overlay li p iframe, #overlay li p video, #overlay li p audio, #overlay li p object {
        height: 135px;
        width: 240px;
    }

    #overlay li p img {
        max-width: 240px;
    }

    #profile .user-info {
        width: 280px;
    }

    #profile .user-info h2 {
        font-size: 35px;
    }

    #overlay .info {
        margin: 5px 0;
    }

    #overlay .info li {
        clear: both;
        margin: 2px 0;
        padding-top: 5px;
        width: 91%;
    }

    #overlay .info li, #overlay .info li span {
        font-size: 18px;
    }

    #profile .user-info h2 {
        width: 280px;
    }

    ol.tabs li {
        font-size: 17px;
        line-height: 17px;
        margin: 8px 1px 0;
        padding: 5px 10px;
    }

    .meta .details, .meta .actions {
        width: 190px;
    }

    #write textarea {
        height: 160px;
        width: 260px;
    }

    .dashboard-content {
        width: 320px;
    }

    ol.messages li p iframe, ol.messages li p video,
    ol.messages li p audio, ol.messages li p object {
        height: 140px;
        width: 250px;
    }

    ol.messages > li {
        width: 270px;
    }

    ol.messages > li p {
        padding-top: 5px;
        width: 240px;
    }

    ol.messages > li p img {
        max-width: 250px;
    }
}

.autocomplete-w1 {
    left: 0px;
    position: absolute;
    top: 0px;
}

.autocomplete {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    cursor: default; 
    max-height: 350px;
    overflow: auto;
    text-align: left;
}

.autocomplete .selected {
    background: #f0f0f0;
}

.autocomplete div {
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}

.autocomplete strong {
    color: #3399ff;
    font-weight: normal;
}
